<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script type="text/javascript" src="js/basic.js"></script>
</head>
<body>
	<div id="page">
		<table>
			<tr>
				<td><label>用户名:</label></td>
				<td><input type="text" name="loginName" v-model="loginName"></td>
			</tr>
			<tr>
				<td><label>密码:</label></td>
				<td><input type="password" name="password" v-model="password"></td>
			</tr>
			<tr>
				<td><button type="button" v-on:click="login()">login</button></td>
			</tr>
		</table>
	</div>
	<script type="text/javascript">
		var app = new Vue({
			data : {
				password : "",
				loginName : ""
			},
			methods : {
				load:function(){
					
				},				
				login : function() {
					var vm=this;
					axios.post('login', {
						"loginName" : vm.loginName,
						"password":vm.password 
					}).then(function(res) {
						location.href="./bookshelf.html"
					}).catch(function(error) {
						console.log(error);
						alert(error);
					});
				}
			}
		}).$mount("#page");
	</script>

</body>
</html>